<% flash.each do |type, message| %>
  <div data-controller="flash" class="col-2 alert alert-<%= bootstrap_class_for(type) %> alert-dismissible fade show alert-top-right mt-2" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
